<!-- <input type=text [(ngModel)]="name">
<p>This is {{name}}</p> -->
<div class="container">
    <div class="row">
        <div class ="col-xs-12">
            <h3>I am in the app component</h3>
            <hr>
            <app-servers></app-servers>
            <!-- <div app-servers></div>
            <div class="app-servers"></div> these can also be used as selectors for the other components--> 
            <app-warningAlert></app-warningAlert>
            <app-sucess-alert></app-sucess-alert>
        </div>
    </div>
</div>
